# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
Donut 3D/x64/Debug/Donut 3D.ilk
Donut 3D/x64/Debug/Donut 3D.log
Donut 3D/x64/Debug/Donut 3D.tlog/link.read.1.tlog
Donut 3D/x64/Debug/Donut 3D.tlog/link.write.1.tlog
Donut 3D/x64/Debug/vc143.idb
Donut 3D/x64/Debug/vc143.pdb
x64/Debug/Donut 3D.pdb
